:root {
  --text-color: rgb(58, 58, 58);
  --desc-color: rgb(118, 118, 118);
  --primary: #E3DE8F;
  --secondary: #D9D375;
  --tertiary: #D5B942;
  --green: #5DBB63;
  --red: #9B111E;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--text-color);
}

h1 {
  margin-left: 10%;
  width: 75%;
  overflow: hidden;
  text-align: center;
}
h1:before, h1:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h1:before {
  width: 20%;
}
h1:after {
  margin: 0 -55% 0 .5em;
  width: 75%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  background-color: var(--secondary);
  margin-left: 5%;
  margin-right: 5%;
  padding: 2em;
  border-radius: 15px;
}

@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container button {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 50px;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  line-height: 0;
  background-color: var(--tertiary);
  color: var(--text-color);
  transition-duration: 0.25s;
  border-radius: 15%;
  border-width: 0;
  cursor: pointer;
}
.container button:hover {
  background-color: var(--primary);
}

.income-source, .expenses-source {
  margin: 1%;
  padding: 1em;
  line-height: 0;
  background-color: var(--primary);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: var(--text-color);
}

.income-source .inputs {
  display: flex;
  flex-direction: column;
}

.income-source input.expense, .expenses-source input.expense,
.income-source input.expense::placeholder, .expenses-source input.expense::placeholder {
  color: var(--text-color);
  font-size: 32px;
}

.income-source input, .expenses-source input {
  background-color: var(--primary);
  border-width: 0;
  color: var(--desc-color);
  outline: none;
}

.income-source button, .expenses-source button {
  width: fit-content;
  height: fit-content;
  padding: 1em;
  font-size: x-large;
  background-color: transparent;
  float: right;
  vertical-align: middle;
}

.income-source button:hover, .expenses-source button:hover {
  background-color: var(--tertiary);
}

.income-source {
  box-shadow: 7px 0 var(--green);
}
.expenses-source {
  box-shadow: 7px 0 var(--red);
}

.display {
  width: 45%;
  margin: 0 auto;
}

.display h2 {
  font-size: 40px;
  text-align: center;
}

.currency-switch-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
}

.currency-switch {
  background-color: var(--secondary);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: fit-content;
  height: 5%;
  font-size: 15px;
  text-align: center;
  border-top-left-radius: 15px;
}

.currency-switch-container h3 {
  margin: 0;
}

.currency-switch-container button {
  background-color: transparent;
  padding: 0.5em;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  transition-duration: 0.25s;
}

.currency-switch-container button:hover {
  background-color: var(--tertiary);
}

.currency-selector {
  background-color: var(--tertiary);
  width: 200px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
  overflow-y: scroll;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.lookup {
  background-color: var(--primary);
  color: var(--desc-color);
  outline: none;
  border-width: 0;
  border-radius: 5px;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.currencies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.currencies-grid button {
  background-color: var(--secondary);
}